[Unit]
Description=Bash console without getty

[Service]
#Environment=HOME=/root PS1=\h:\w\$\s  
#WorkingDirectory=/root

ExecStart=/bin/sh
#ExecStartPre=-/bin/echo ""; /bin/cat /etc/issue ; /bin/echo -e '\n\nWelcome to ADIT Platform "normal mode"!   System is starting up ...\n\n\n'
ExecStartPre=/bin/echo "enable console"

StandardInput=tty-force
KillMode=process

# Unset locale for the console getty since the console has problems
# displaying some internationalized messages.
Environment=LANG= LC_CTYPE= LC_NUMERIC= LC_TIME= LC_COLLATE= LC_MONETARY= LC_MESSAGES= LC_PAPER= LC_NAME= LC_ADDRESS= LC_TELEPHONE= LC_MEASUREMENT= LC_IDENTIFICATION=

# Some login implementations ignore SIGTERM, so we send SIGHUP
# instead, to ensure that login terminates cleanly.
KillSignal=SIGHUP



## ================ two configuration options for reacting on 'exit' entered into the console

# first: console is directly restarted
Restart=always
RestartSec=1

# second: system is shut down regularly
# ExecStopPost=-/bin/systemctl poweroff

## ===== end of options =======

[Install]
WantedBy=multi-user.target
